<div class="container-fluid py-3">
  <h1>Angular Progressive Web Application (PWA)2</h1>

  <div class="row my-5">
    <div class="col text-end">
      Status:
    </div>
    <div class="col">
      <span class="badge bg-success" *ngIf="isOnline">Online</span>
      <span class="badge bg-danger" *ngIf="!isOnline">Offline</span>
    </div>
  </div>
</div>

<div class="w-100 position-absolute top-0" *ngIf="modalVersion">
  <div class="alert alert-secondary m-2">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closeVersion()"></button>
    A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>

<div class="w-100 position-absolute bottom-0" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
  <div class="alert alert-secondary m-2">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closePwa()"></button>
    <!-- Android -->
    <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </div>
  </div>
</div>

<div cdkDrag [cdkDragStartDelay]="100" (cdkDragEnded)="onDragEnded($event)" cdkDragLockAxis="x">
 <!--mozna tez tak ale dretwo dziala-->
</div>

<div class="unselectable">
  <div *ngFor="let card of cards"
       (touchend)="onTouchEnd($event)" (touchmove)="onTouchMove($event)" (touchstart)="onTouchStart(card, $event)" (touchcancel)="onTouchCancel()"
       [style.opacity]="(touchingCardId == card && touchingMovedX > TRIGGER_PIXELS) ? '0.2' : '1.0'"
  >
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px', margin: '10px' }">
      <p>
        Lorem ipsum dolor sit amet {{card}}
      </p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
